body {
   
}

.name {
   font-family: cursive;
}
.header {
    text-align: left; 
    font-family: fantasy; 
    color: black; 
    text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold; 
    background-image: url("../images/DarkSide.jpg");
    background-size: 30%;
    background-position: center;
}

.padLeft {
    padding: 20px;
    padding-top: 20px;
}

img {
    align-content: center;
    
}



button {
    float: right;
}

.footer {
    background-color: black;
    color: black; 
    text-shadow: -1px 0 gold, 0 1px gold, 1px 0 gold, 0 -1px gold;
    height: 50px;
    text-align: center;
    border-top: 4px solid gold;
    border-bottom: 4px solid gold;
    position: fixed;
    margin: auto;
    bottom: 0;
    left: 0;
    width: 100%;